@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.837);
} 

.div-container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
  }

  .div1{
    margin-top: 20px;
    font-family: 'Lobster', cursive;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #FFFAD7;
  } 
  
  .div2{
    width: 100vw;
    height: 300px;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
  }

  .div3{
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .dice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .play-button {
    display: none;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    width: 80px;
    cursor: pointer;
  }
  
  .play-button:hover {
    background-color: #3e8a41;
  }

  .start {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    width: 80px;
    cursor: pointer;
  }
  
  .start:hover {
    background-color: #3e8a41;
  }

  .div{
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .player{
    margin-bottom: 10px;
  }

  .winner{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
  } 
.winner-name{
  border: 1px solid white;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
}

 

@media (max-width: 767px) {
.div1{
  font-size: 20px;
} 
.dice1,.dice2{
  width: 150px;
  height: 150px;
}
.div{
  margin-top: 10px;
  margin-bottom: 10px;
}
.div-container{
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
} 
}

